<h1>New User</h1>

<!--  Form that allows user to register which then gets stored in our user table -->
<h2>Please Register YO SELF!</h2>
  <form method="post" action="create">
    <label for="name"> First Name: </label>
      <input id="name" type="text" name="name" />
        </br>
    <label for="address"> Address: </label>
      <input id="address" type="text" name="address" />
        </br>
    <label for="city"> City: </label>
      <input id="city" type="text" name="city" />
        </br>
    <label for="state"> State: </label>
      <input id="state" type="text" name="state" />
        </br>
    <label for="postalcode"> Postal Code: </label>
      <input id="postalcode" type="integer" name="postalcode" />
        </br>
    <label for="country"> Country: </label>
      <input id="country" type="text" name="country" />
        </br>
    <label for="phonenumber"> Phone Number: </label>
      <input id="phonenumber1" type="integer" name="phonenumber1" />
      <input id="phonenumber2" type="integer" name="phonenumber2" />
      <input id="phonenumber3" type="integer" name="phonenumber3" />
        </br>
    <label for="email"> Email: </label>
      <input id="email" type="text" name="email" />
        </br>
    <label for="username"> User ID: </label>
      <input id="username" type="text" name="username" required/>
        </br>
    <label for="password"> Password: </label>
      <input id="password" type="text" name="password" required/>
        </br>
    <input id="" type="Submit" name="Submit" value="Submit"/>
</form>
