<h1>New User</h1>


<h2>Please Register YO SELF!</h2>

<form method="post" action="create">
  <label for="name"> First Name: </label>
  <input id="name" type="text" name="name" required/>
</br>
  <label for="address"> Address: </label>
  <input id="address" type="text" name="address" required/>
</br>
  <label for="city"> City: </label>
  <input id="city" type="text" name="city" required/>
</br>
  <label for="state"> State: </label>
  <input id="state" type="text" name="state" required/>
</br>
  <label for="postalcode"> Postal Code: </label>
  <input id="postalcode" type="integer" name="postalcode" required/>
</br>
  <label for="country"> Country: </label>
  <input id="country" type="text" name="country" required/>
</br>
    <label for="phonenumber"> Phone Number: </label>
    <input id="phonenumber" type="integer" name="phonenumber" required/>
</br>
    <label for="email"> Email: </label>
    <input id="email" type="text" name="email" required/>
</br>
    <label for="user_id"> User ID: </label>
    <input id="user_id" type="text" name="user_id" required/>
</br>
    <label for="password"> Password: </label>
    <input id="password" type="text" name="password" required/>
</br>
  <input id="" type="Submit" name="Submit" value="Submit"/>

</form>
