<!-- <h1>GOOD JOB! YOU MAY ENTER!</h1>

<form method="post" action="logout">
  <input id="" type="Submit" name="Log Out" value="Log Out"/>
</form> -->


<div class="login-wrap">
  <h2>Thank You For Joining!</h2>

  <div class="form">
    <form method="post" action="logout">
      <input type="submit" name="Log Out" value="Log Out" id="Submit"/>
    </form>
  </div>
</div>
